{% extends 'layout.twig' %}

{% block javascript %}
  <script>
    var myStyle = '{{user.style}}';
  </script>
{% endblock %}

{% block buttons %}
  <div id="top-navbar">
    {% if user %}
      <a id="login-btn" href="/logout">
        {% if user.nickname %}
          {{user.nickname}}
        {% elseif user.google.name.givenName %}
          {{user.google.name.givenName}}
        {% elseif user.facebook.name.givenName %}
          {{user.facebook.name.givenName}}
        {% endif %}
      </a>
    {% else %}
      <a id="login-btn" href="/login">Ingresar</a>
    {% endif %}
    <label id="style-toggle-switch">
      <input id="switch-checkbox" type="checkbox" checked="checked">
      <span id="switch-slider"></span>
    </label>
  </div>
{% endblock %}

{% block content %}
  <span class='notfound-text'>404: Not Found</span>
  <span class='notfound-text'><a class='notfound-link' href='/'>Volver al inicio</a></span>
{% endblock %}
