{% extends 'layout.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block javascript %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="/javascripts/login-signup-actions.js"></script>
{% endblock %}

{% block info %}
  <form id="login-form">
    <input class="login-signup-input" type="text" placeholder="Usuario" maxlength="64">
    <button class="input-warning-icon" data-toggle="tooltip" data-placement="left" title="Usuario requerido"></button>
    <input class="login-signup-input" type="password" placeholder="Contraseña" maxlength="64">
    <button class="input-warning-icon" data-toggle="tooltip" data-placement="left" title="Contraseña requerida"></button>
    <button id="login-signup-submit-btn" type="submit">Ingresar</button>
  </form>
  <span class="login-signup-text">¿No tenés cuenta? <a class="login-signup-btn" href="/signup/">Registrate</a></span>
  <button id="facebook-login-signup" class="social-login-signup-btn">Ingresar con Facebook</button>
  <button id="google-login-signup" class="social-login-signup-btn">Ingresar con Google</button>
{% endblock %}

{% block bodyscript %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
{% endblock %}
