{% extends 'layout.twig' %}

{% block info %}
  <span class='notfound-text'>No se pudo encontrar la búsqueda "{{search}}"</span>
  <span class='notfound-text'><a class='notfound-link' href='/'>Volver al inicio</a></span>
{% endblock %}
