{% extends 'layout.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block javascript %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script>
    var myStyle = '{{user.style}}';
  </script>
  <script src="/javascripts/login-signup-actions.js"></script>
{% endblock %}

{% block info %}
  {% if signupError %}
  <span class="login-signup-error-message">{{signupError}}</span>
  {% endif %}
  <form id="signup-form" action="signup" method="post">
    <input class="login-signup-input" type="text" name="nickname" placeholder="Nombre" maxlength="16" autofocus="autofocus">
    <a class="input-warning-icon" href="#" data-toggle="tooltip" data-placement="left" title="Nombre requerido"></a>
    <input class="login-signup-input" type="text" name="email" placeholder="Correo electrónico" maxlength="32">
    <a class="input-warning-icon" href="#" data-toggle="tooltip" data-placement="left" title="Correo electrónico requerido"></a>
    <input class="login-signup-input" type="password" name="password" placeholder="Contraseña" maxlength="32">
    <a class="input-warning-icon" href="#" data-toggle="tooltip" data-placement="left" title="Contraseña requerida"></a>
    <input class="login-signup-input" type="password" name="confirmPassword" placeholder="Confirmar contraseña" maxlength="32">
    <a class="input-warning-icon" href="#" data-toggle="tooltip" data-placement="left" title="Confirmación de contraseña requerida"></a>
    <input id="login-signup-submit-btn" type="submit" value="Registrarse">
  </form>
  <span class="login-signup-text">¿Ya tenés cuenta? <a class="login-signup-btn" href="/login">Ingresá</a></span>
{% endblock %}

{% block bodyscript %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
{% endblock %}
